<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
   
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Category
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="AddCategory">Add Category</a>
        <a class="dropdown-item" routerLink="ViewCategory">View Category</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Brand
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="AddBrand">Add Brand</a>
        <a class="dropdown-item" routerLink="ViewBrand">View Brand</a>
      </div>
    </li>
    <!--Item Menu-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Product
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="Addproduct">Add Product</a>
        <a class="dropdown-item" routerLink="Viewproduct">View Product</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reguser">View User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="booking">View Booking</a>
    </li>
    <!--End Item Menu-->
    <li *ngIf="userDetails" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:aquamarine">
        Welcome Admin:{{userDetails.fullName.split(' ')[0]}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">Log Out</a>
      </div>
    </li>

  </ul>
</nav>
<router-outlet></router-outlet>
